@font-face {
  font-family: Gsans;
  src: url(./GoogleSans-Regular.ttf);
}
body{
background: #0084d7;
  color: #fff;
  text-align: center;
  text-align: -webkit-center;
  font-family: Gsans;
  padding-top:100px;
}
.intro, .desc{
  text-align: center;
 }

.intro{
    font-size: 3em;
}
.desc{
  font-size: 4em;
  margin-right: 20px;
}
a{
      text-decoration: none;
    color: #fff;
}
.getStarted{
  text-align:center;
  width: 100px;
    text-decoration: none;
    color: inherit;
    border: 2px solid #fff;
    padding: 10px 30px 10px 30px;
    border-radius: 9px;
    box-shadow: 3.5px 6px 0px #fff;
}
  

