*{
	margin: 0px;
	padding: 0px;
}

body{
	background: #0084d7;
	font-family: sans-serif;
}
.app_name{
	margin: 40px 0px 10px 0px;
}

.app_name h2{
	font-weight: bold;
	color: #fff;
	font-size: 2.5em;
	font-family: sans-serif;
	text-align: center;
}
.rebalance h6{
	color: #000 !important;
}
.currency, .currency_symbol{
	color: #9E9E9E;
}

.card{
	background: #fff;
	padding: 0px 0px 0px 20px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	box-shadow: 0px 0px 9px 2px #0284d794;
}
.status h6{
	color: #000;
	font-weight: bold;
}
.nav_bar{
	list-style: none;
	display: inline-flex;
	padding: 40px 40px 5px 40px;
	margin: 0px 40px;
}

.border_bottom a{
	text-decoration: none;
	color: #0084d7;
}
.card-loan-type, .card-history{
	height: 100px;
	width: 350px;
	background: #fff;
	cursor: pointer;
	padding: 20px;
	border-radius: 8px;
	margin: 0px 30px 20px 0px;
	border: 2px solid #0084d7;
}
.card-loan-type:active, li.tab:active, .clients-card:hover,
.card-loan-type:hover, li.tab:hover, .submit_app input:active{
	box-shadow: 0px 0px 0px 3px #0084d759;
	transition: box-shadow 200ms;
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.top_badge{
	    color: #fff;
    border: 2px solid;
    padding: 5px;
    border-radius: 8px;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    width: -moz-max-content;
    width: -ms-max-content;
    width: -webkit-max-content;
    border-bottom-right-radius: 0px;
    margin-left: 0px;
    background: #0284d7;
    font-weight: bold;
}
.clients-card{
	    cursor: pointer;
    padding: 20px;
    border-radius: 8px;
    margin: 0px 30px 20px 0px;
    border: 2px solid #0084d7;
}
.clients-card .description h6{
	font-size: 16px;
}
.section{
	padding: 50px 200px 0px 200px;
}
.compiled {
	color: #0084d7;
    border: 1px solid #0084d7;
    width: -moz-max-content;
    width: -ms-max-content;
    width: -webkit-max-content;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.compiled:hover {
	cursor: pointer;
    box-shadow: 0px 0px 0px 2px #0084d796;
}
.list_loantype{
	list-style: none;
	margin: 0 -16px;
	padding: 0px;
	    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    line-height: normal;
    margin: 0;
}

.description_loantype h6, .expected_amount h6{
	color: #9E9E9E;
    font-size: .8em;
    font-weight: initial;
    margin-top: 8px;
}

.description_loantype_max h6, .amount h6{
	color: #9E9E9E;
    margin-top: 50px;
}
.errors{
	display: none;
	background: #EF9A9A;
    padding: 20px 10px 20px 10px;
    text-align: center;
    position: absolute;
    border-radius: 8px;
    color: #F44336;
    top: auto;
}
.success{
	display: none;
	background: #4DB6AC;
    padding: 20px 10px 20px 10px;
    text-align: center;
    position: absolute;
    border-radius: 8px;
    color: #2E7D32;
    top: auto;
}
.loan_form{
	    position: absolute;
    top: 200px;
    left: 120px;
    border: none;
    display: none;
	background: #fff;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	box-shadow: 0px 0px 20px 1000px #d6d6d654, 0px 0px 10px 5px #d6d6d6ba; 
    padding: 40px 20px 40px 20px;
    margin-left: -20px;
    width: -moz-available;
    width: -webkit-available
    width: -ms-availbale;
}

input{
	margin-bottom: 25px;
	width: 100%;
	font-weight: bold;
	padding: 10px 5px 10px 5px;
	border: 2px solid #a9a9a9;
	border-radius: 4px;
	background: transparent;
	color: inherit;
}
.loan_form form{
	flex-wrap: wrap;
	width: 100%;
}
.submit_app input{
	border: 2px solid #0084d7;
	background: #0084d7;
	color: #fff;
	cursor: pointer;
	box-shadow: 4px 5px 0px 0.2px #9E9E9E, inset 0px 0.2px 0px 1px #0284d7;
}
	.section{
		padding: 0px;
	}
	.card-loan-type{
    width: 100%;
    height: 150px;
	}
	.loan_type_text{
		font-size: 16px;
	}
	.description_loantype h6{
		    font-size: 16px;
    font-weight: bold;
	}
	.description_loantype_max{
		font-size: 16px;
    font-weight: bold;
    line-height: 1.2em;
	}
	.card{
	    padding: 20px 0px 0px 20px;
}
.card-nav{

	display: none;
	    position: absolute;
    background: #fff;
    border-top-left-radius: 30px;
    box-shadow: 0px 0px 9px 2px #0284d794;
    height: 260px;
    left: 0px;
    top: 100px;
}

.nav_bar{
	display: block;
    list-style: none;
    padding: 60px 40px 5px 40px;
    margin: 0px 40px;
}
.border_bottom{
	font-size: 16px;
    line-height: 1.2em;
}
.card-text{
	font-size: 32px;
}
h6.actions_verify {
    margin-top: 15px !important;
}
.description h6{
		font-size: 32px;
    margin-top: 0;
}
li.tab{
	    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 50px;
    box-shadow: none;
    padding: 0px;
}
span.navburger{
	background: #757575;
	padding: 2px 20px;
	display: block;
	margin-bottom: 5px;
	border-radius: 10px;
	width: 2%;
}
span.navburger:nth-of-type(3){
	margin-bottom: 15px;
}
.clients-card{
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 10px;
}
.verified span.status_value{
	position: initial;
}

@media screen and (min-width: 820px){
	.card-loan-type{
		height: 150px;
		width: 40%;
	}
	.loan_type_text{
		font-size: 16px;
	}
	.description_loantype h6{
		font-size: 16px;
		
	}
	.description_loantype_max{
		font-size: 16px;
	}
				span.navburger{
		display: none;
	}
	.nav_bar{
	list-style: none;
	display: inline-flex;
	padding: 40px 40px 5px 40px;
	margin: 0px 40px;
}
li.tab{
	    cursor: pointer;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    box-shadow: 4px 5px 0px 0.2px #0284d7, inset 0px 0.2px 0px 1px #0284d7;
	margin-right: 25px;
}
.card-nav{
	display: block;
	position: inherit;
	background: none;
	box-shadow: none;
	height: auto;
}
	.border_bottom{
		    font-size: 1em;
    line-height: 1.2em;
	}
}

@media(min-width: 1000px) and (min-width: 1002px){
	.loan_type_text {
    font-size: 16px;
}
	.card-loan-type{
	display: block;
	height: 100px;
	width: 350px;
}
.description_loantype h6, .expected_amount h6{
	color: #9E9E9E;
    font-size: .8em;
    font-weight: initial;
    margin-top: 8px;
}

.description_loantype_max h6{
	color: #9E9E9E;
    margin-top: 0px;
    font-size: 16px;
}
.border_bottom{
	font-size: 1em;
}
.nav_bar{
	padding-top: 0px;
}
li.tab{
	margin-bottom: 20px;
}
}

.repayment_form{
	margin-top: 100px;
    padding: 0px;
    justify-content: center;
    flex-wrap: wrap;
}



#card-1{
	background: url('../assets/images/refinance.svg') no-repeat;
}

#card-2{
	background: url('../assets/images/agriculture.svg') no-repeat;
}
#card-3{
	background: url('../assets/images/auto.svg') no-repeat;
}
#card-4{
	background: url('../assets/images/mortgage.svg') no-repeat;
}
#card-5{
	background: url('../assets/images/school.svg') no-repeat;
}
#card-6{
	background: url('../assets/images/salary.svg') no-repeat;
}

#card-1,#card-2,#card-3,#card-4,#card-5,#card-6{
    background-size: contain;
}
